header, footer, nav, main, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img
{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
 }
 header, footer {
  color: white;
  background-color: #1A237E;
}
header p{
   padding-left: 1em;
   margin-bottom: .50em;
}
nav {
  background-color: #3F51B5;
}
h1, h2, h3 {
 font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
}
body {
 font-family: Georgia, Cambria, "Times New Roman", serif;
}

main .first {
    color: #7986CB;
    font-style: italic;
 }
 .second {
    color: #080808;
    padding-left: 2em;
    margin: 1em;
 }
 .byline {
    color: #ed8030;
    font-style: italic;
 }
 a:link {
    font-weight: bold;
    color: #47B3D7;
 }
 a:visited {
    color: #BB78FF;
 }
 a:hover {
    background-color: #F50057;
 }
 #reviews {
   border-bottom: solid 3pt #213643;
   color:#7986CB;
}
 nav ul li {
    list-style: none;
    display: inline;
    margin: 1em;
 }
nav {
    padding: 0.25em;
 }
 nav a {
    padding: 0.25em;
 }
 figure 
 {
    
    margin: 1.5em;
   background-color: #E8EAF6;
    padding: 1.5em;
    border: solid 1px #C5CAE9;
 }
 #reviews .second{
    padding-left: 0;
 }
 h3+p+p{ margin: 2em;

 }
 
 body {
    font-size: 100%;
    }
    h1 { 
       font-size: 1.5rem; 
       padding: 1em;
       }
       h2 {
           padding: 1em;
        background-color: #3F51B5;
        color: white;
           font-size: 2rem;
          }
          h3 { font-size: 1.5rem;
            padding: .50em;
          background-color: #3F51B5;
        color: white;
    }
    p {padding: 0.25em;
    }